{% extends "ravens_consulting/base.html" %}
{% block title %}ABOUT US{% endblock %}

{% block contents %}
<div class="ravens_content">
  {% include "ravens_consulting/header.html" %}
  <div class="about_us_page">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="about_contents w3-card">
            <h3>About Ravens</h3>
            <p>
              Ravens Consulting Company Ltd is a leading research and ICT consulting company registered in Tanzania and incorporated under the Tanzania’s Companies Act of 2002. Ravens Consulting serves individuals, businesses, governments, non governmental organizations, and not-forprofits. At Ravens, we strive to help our clients make lasting improvements to their performance and realize their most important goals.
            </p>
            <p>
              Ravens Consulting serves clients at every level of their organization, in whatever capacity we can be most useful, whether as an advisor to top management or as a hands-on coach for front line employees. We focus on delivering practical and enduring results, and equipping our clients to grow and lead. We partner with clients to put recommendations into practice and design the most efficient and reliable systems to bring the change they require.
            </p>
            <p>
              At Ravens Consulting, we continuously seek, test and improve different ways to better serve our customers. Our research team builds and maintains data models that allow our clients to generate insight and make better, faster decisions while our ICT team develops rapid prototypes, build software and apps, design and install networks using cutting edge technologies.
            </p>
            <p>
              Ravens Consulting prides itself with a highly skilled, energetic and trained team of experts, which continuously surpasses our clients’ expectations in different works that we do.
            </p>
          </div>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>

  <div class="visio_mission_core_values">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="vision w3-card-4">
            <h3>Vision</h3>
            <center><i class="fa fa-eye"></i></center>
            <p>
              To be the most innovative and independent brand in the emerging Statistical and ICT consulting space with robust solutions that endure over time.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mission w3-card-4">
            <h3>Mission</h3>
            <center><i class="fa fa-diamond"></i></center>
            <p>
              To provide outstanding solutions in the emerging ICT and statistical consulting markets for leading organizations
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="core_value w3-card-4">
            <h3>Core Values</h3>
            <center><i class="fa fa-send"></i></center>
            <p>
              Ravens Consulting is governed by the following core values; honesty, ethics, integrity, professionalism and quality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
    </div>
  </div>
  {% include "ravens_consulting/footer.html" %}
</div>
{% endblock %}
