{% extends "ravens_consulting/base.html" %}
{% block title %}HOME{% endblock %}

{% block contents %}
<div class="ravens_content">
  {% include "ravens_consulting/header.html" %}
  <div class="home_container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome Ravens Consulting Limited.</h2>
          <h5>Innovation and Excellence in ICT and Statistics.</h5>
          <center><a href="/ravens_consulting/contact/" class="w3-btn contact_us_home_btn"><i class="fa fa-phone"></i> contact us</a></center>
        </div>
      </div>
    </div>
  </div>

  <div class="service_home_part">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="events_part">
            <h3>Our events</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="event_card w3-card-4">
                  <ul class="list-unstyled">

                    {% for event_data in get_Data %}
                    <li>
                      <a href="/ravens_consulting/details/{{event_data.id}}">
                      <strong>Title</strong>: {{event_data.heading}}
                      <p>
                        Date: {{event_data.created_at}}
                      </p>
                      </a>
                    </li>
                    <hr>
                    {% endfor %}

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="service_part">
            <h3>Our services</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="service_column_one w3-card-4">
                  <center><i class="fa fa-line-chart"></i></center>
                  <hr>
                  <p>
                    Designing of questionnaires, programming of electronic data collection tools, data analysis, data management and report writing, Statistical modeling and graphics, Interpretation of results, Training, market research surveys and monitoring and evaluation.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="service_column_two w3-card-4">
                  <center><i class="fa fa-code"></i></center>
                  <hr>
                  <p>
                    Training Software development, website designing, graphics and designing, social media mearketing, computer networks design and installation, data analytics and business intelligence.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ravens_consulting_words w3-card-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <center><img src="/static/images/analyses.png" class="img-fluid" alt="static image"></center>
        </div>
        <div class="col-md-8">
          <h3>Message from Ravens Team</h3>
          <hr>
          <p>
            Ravens Consulting has emerged with a mission to be the most innovative and independent brand in the emerging Statistical and ICT consulting space with robust solution that endure over time.
          </p>
          <p>
            We are witnessing major economic and political transformation in the region at this time. To smoothly swim with this transformation, you need to be prepared and well equipped with the data and ICT technology that will put you over the edge. Ravens Consulting is prepared to play part in this transformation by helping companies and individuals see new opportunities and address existing challenges through cutting edge research and ICT technology.
          </p>
          <p>
            With a team of young, talented and dedicated staff, Ravens strives to use innovation and excellence in ICT and statistics to help clients fulfill their goals.
          </p>
          <p>
            Looking forward to work with you,
          </p>
          <h4>Ravens Consulting Team.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="management_structure">
    <div class="container">
      <h2>Management Structure</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="hr_department w3-card-4">
            <center><img src="/static/images/hr.png" class="img-fluid" alt="static image" width="50%"></center>
            <h3>Department of Human Resources Management</h3>
            <p>
              Ravens Consulting human resources department meets business needs through managing the company's most valuable resources. The roles of this department includes: staff recruitment, safety, employee and labor relations, compliance training and development.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="finance_department w3-card-4">
            <center><img src="/static/images/finance.png" class="img-fluid" alt="finance" width="50%"></center>
            <h3>Department of Finance and Accounting</h3>
            <p>
              The finance and accounting department is responsible for recording and reporting the cash flow transactions of a company. This department has two divisions named the division of Finance and the division of Accounts.-
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="opeartion_department w3-card-4">
            <center><img src="/static/images/operation.png" class="img-fluid" alt="opearation" width="50%"></center>
            <h3>Operations Management Department</h3>
            <p>
              This department oversees all the consulting activities of Ravens Consulting. It has two divisions to help manage its daily activities. The division of Research which oversees the research activities of Ravens Consulting while the division of ICT is concerned with provision of all ICT related services offered by Ravens Consulting.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="marketing_department w3-card-4">
            <center><img src="/static/images/marketing.png" class="img-fluid" alt="marketing" width="50%"></center>
            <h3>Marketing department</h3>
            <p>
              This department plays a vital role in promoting the business and mission of Ravens Consulting. It coordinates and produces all materials representing what we do at Ravens Consulting.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="about_container">
    <div class="container">
      <h3>About Ravens</h3>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <p>
            Ravens Consulting company Ltd is a leading research and ICT consulting company registered in Tanzania and incorporated under the Tanzania’s Companies Act of 2002. Ravens Consulting serves individuals, businesses, governments, non-governmental organizations, and not-for-profits. At Ravens, we strive to help our clients make lasting improvements to their performance and realize their most important goals.
          </p>
          <center><a href="/ravens_consulting/about/" class="w3-btn btn-sm">read more</a></center>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
  {% include "ravens_consulting/footer.html" %}
</div>

{% endblock %}
