{% extends "ravens_consulting/base.html" %}
{% block title %}PUBLICATION{% endblock %}

{% block contents %}
<div class="ravens_content">
  {% include "ravens_consulting/header.html" %}
  <div class="publication_container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <center><img src="/static/images/5.png" class="img-fluid" alt="static image"></center>
        </div>
        <div class="col-md-8">
          <div class="publication_contents w3-card-4">
            <h3>Publications from Consultants at Ravens Consulting.</h3>
            <p>Ravens Consulting is guided by its core values (honesty, ethics, integrity, professionalism and quality). Due to the sensitivity of the business environment of the clients we deal with, we do not publish our clients details and results of their works without their consent. However, consultants at Ravens are always busy doing research that are of interest to the general public. A selected sample of these publications is given below. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="publication_list">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="p1 w3-card-4">
            <strong>Ismail, A</strong>. & Josephat, P. 2014. Knowledge and Perception on Tuberculosis Transmission in Tanzania: Multinomial Logistic Regression Analysis of Secondary Data. Tanzania Journal of Health Researches, Vol.16, No. 1
          </div>
        </div>
        <div class="col-md-6">
          <div class="p2 w3-card-4">
            <strong>Ismail, A</strong>. & Akarro, R.R.J. 2012. Some Determinants of Factors Associated with HIV/AIDS Risk Behavioral among University Students in Tanzania: Application of Factor analysis. East African Journal of Public Health, Vol 9, No 3: 112-7.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p3 w3-card-4">
            Josephat, P & <strong>Ismail, A. 2012</strong>. Job and Work Attitude Determinants: An Application of Multivariate Analysis. International Journal of Human Resource Studies, Macrothink Institute, Vol. 2, No. 3:189-206.
          </div>
        </div>
        <div class="col-md-6">
          <div class="p4 w3-card-4">
            <strong>Ismail, A</strong>. & Jesse, N. 2014. Analyzing the Relationship between Students’ Performance and Following Examination Instructions. Researchjournali’s Journal of Education, Vol. 2, No. 8: 1-13.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p5 w3-card-4">
            <strong>Malero, A, Ismail, A</strong> and Manyilizu, M. Article: ICT Usage Readiness for Private and Public Secondary Schools in Tanzania, a case of Dodoma Municipality. International Journal of Computer Applications 129(3):29-32, November 2015.
          </div>
        </div>
        <div class="col-md-6">
          <div class="p6 w3-card-4">
            <strong>Mtumwa AH</strong>, Paul E, and Vuai SAH. Determinants of under nutrition among women of reproductive age in Tanzania mainland. S Afr J Clin Nutr 2016; 29(2):75-81.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p7 w3-card-4">
            Edwin Paul, <strong>Abdalla H. Mtumwa</strong>, Julius Edward Ntwenya, and Said A. H. Vuai . Disparities in Risk Factors Associated with Obesity between Zanzibar and Tanzania Mainland among Women of Reproductive Age Based on the 2010 TDHS. Journal of Obesity 2016
          </div>
        </div>
        <div class="col-md-6">
          <div class="p8 w3-card-4">
            Leonard K. Katalambula , Julius Edward Ntwenya , Twalib Ngoma, Joram Buza, Emmanuel Mpolya, <strong>Abdallah Hussein-</strong> and Pammla Petrucka .Pattern and distribution of colorectal cancer in Tanzania: A retrospective chart audit at two national hospitals. Journal of Cancer Epidemiology. 2016
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p9 w3-card-4">
            <strong>Malero, A</strong>. "Measuring Security Awareness on Mobile Money Users in Tanzania", International Journal of Engineering Trends and Technology (IJETT), V20(1),44-47 Feb 2015. ISSN:2231-5381.
          </div>
        </div>
        <div class="col-md-6">
          <div class="p10 w3-card-4">
            <strong>Malero, A</strong>. “Applying Feature Transformation Using Relative Frequency with Power Transformation and Lemmatization in automatic Spam Filtering”. International Journal of Computer Science and Network Solutions. Volume 2 No. 10. October 2014, ISSN 2345-3397.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p11 w3-card-4">
            <strong>Malero, A</strong> and Hassan, S. Hadoop and Big Data Readiness in Africa, a case of Tanzania. International Journal for Scientific Research and Development. ID: IJSRDV1I8020, Volume 1, Issue 8, 2013, Page(s): 1609-1612
          </div>
        </div>
        <div class="col-md-6">
          <div class="p12 w3-card-4">
            <strong>Ernest E</strong>, Almeida A., Motta W., Makunda K., Balthalzar N., Mwanga F. and, Richard Killian, Bridging the communication gap in early infant diagnosis with an mHealth initiative - Manyara region, Tanzania. Tanzania Health Summit November 11-13, 2015
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p13 w3-card-4">
            J Wickstrom, C. Ndomba, <strong>Ernest E</strong>, L. Shoo, L. Jarvis, M Schmitt, C Manchester. Give women what they want and need: family planning options. Tanzania Health Summit November 11-13, 2015
          </div>
        </div>
        <div class="col-md-6">
          <div class="p14 w3-card-4">
            Anselim M., <strong>Ernest E</strong>, Almeida A., Mwanga F., and Killian Richard. Assessment of usefulness of HMIS in strengthening data use. September 30, 2016, MUHAS, Dar es Salaam Tanzania
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="p15 w3-card-4">
            <strong>Mtumwa, A.H</strong>, Ntwenya, J.E., Paul, E. et al. BMC Nutr (2017). Socio-economic and spatial correlates of subclinical iodine deficiency among pregnant women age 15–49 years in Tanzania. June 2017.
          </div>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
    </div>
  </div>
  {% include "ravens_consulting/footer.html" %}
</div>
{% endblock %}
