{% extends "ravens_consulting/base.html" %}
{% block title %}SERVICES(ICT){% endblock %}

{% block contents %}
<div class="ravens_content">
  {% include "ravens_consulting/header.html" %}
  <div class="ict_container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Core Business Activities.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="ict_contents">
    <div class="container">-
      <h3>ICT Consulting Activities</h3>
      <div class="row">
        <div class="col-md-4">
          <center><img src="/static/images/analyses.png" class="img-fluid" alt="static image"></center>
        </div>
        <div class="col-md-8">
          <p>
            ICT Consulting activities at Ravens range from individuals to corporate solutions.
          </p>
          <p>
            We have a team of experts in the fields of software engineering, computer networks and computer security. We analyze user requirements and come out with designs that fits every needs of our clients
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ict_list">
    <div class="container">
      <h4>In particular, our experienced team of professionals can assist you in a range of ICT services outlined below;</h4>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
ICT Training.</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Software development.</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
IT Transformation services including IT Strategy, IT Governance, IT organization and processes, IT investment management, IT portfolio, program and project management.</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Data management services including data governance, enterprise data management, business intelligence and data analytics.</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Enterprise Resource Planning (ERP)& Business Application Packages services including ERP strategy, business requirements management, ERP selection, ERP implementation and testing.</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Testing (Hardware and Software)</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Computer Networks Design and Installation</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Social Media Marketing</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Multimedia content development and graphics designing</li>
            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Mobile Apps Development </li>
          </ul>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
  {% include "ravens_consulting/footer.html" %}
</div>
{% endblock %}
