{% extends "ravens_consulting/base.html" %}
{% block title %}SERVICES(Research){% endblock %}

{% block contents %}
<div class="ravens_content">
  {% include "ravens_consulting/header.html" %}
  <div class="research_container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Core Business Activities.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="research_contents">
    <div class="container">
      <h3>Research Consulting Activities</h3>
      <div class="row">
        <div class="col-md-8">
          <p>
            The research activities at Ravens Consulting cover all aspects of the design, analysis and interpretation of investigations in science and industry.
          </p>
          <p>
            These activities include statistical expertise on issues of design, choice of methods and developing a detailed plan of analysis, monitoring and evaluation. The company also assists clients with data analyses and the preparation of reports, abstracts, papers and formal presentations.
          </p>
          <p>
            We also look forward to collaborating with other partner institutions in business statistics, medical statistics, agricultural statistics, actuarial statistics, social statistics, official statistics and all other fields related with statistics discipline. We are especially interested in long term collaborations to advance research in east and central Africa. We strive to come up with development of new statistical methodologies and innovative approaches that provide solutions to our local scientific research problems.
          </p>
        </div>
        <div class="col-md-4">
          <center><img src="/static/images/analyses.png" class="img-fluid" alt="static image"></center>
        </div>
      </div>
    </div>
  </div>

  <div class="research_list">
    <h3>More specifically, we deal with clients offering the following services</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
          <div class="col_research_center_list_one w3-card-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                Design of questionnaires and data collection </li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Study design and power analysis for experiments, surveys and observational studies </li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Choice of statistical methods and their proper application</li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Data analysis, data management and report writing </li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Statistical modeling and graphics</li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Interpretation of results, including their limitations </li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Statistical training services including study design, questionnaire preparation, data collection using tablets, data entry template preparation, data auditing and data analysis</li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Market research surveys</li>
              <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Monitoring and evaluation</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">

        </div>
      </div>
    </div>
  </div>
  {% include "ravens_consulting/footer.html" %}
</div>
{% endblock %}
